/* Allgemein */

/*ROBOTO*/
@font-face {
    font-family: 'robotoblack';
    src: url('/assets/fonts/roboto-black-webfont.woff2') format('woff2'),
    url('/assets/fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('/assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('/assets/fonts/roboto-light-webfont.woff2') format('woff2'),
    url('/assets/fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('/assets/fonts/roboto-medium-webfont.woff2') format('woff2'),
    url('/assets/fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('/assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body, html {
    font-family: 'robotolight', sans-serif;
    font-size: 1.05rem;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


.customgreen {
    color: limegreen
}

.darkgreen-custom {
    color: #0E452F;
}

.green-custom {
    color: #cae4b4;
}

.grey-custom {
    color: #c7d1d1;
}

.superscript {
    vertical-align: super;
    font-size: 0.9rem;
    padding-left: 2px;
}


#logo-img {
    width: 35px;
    height: 35px;
    margin: 0 2vw 3px 7px;
}

#navlogo {
    margin-top: 200vh;
}

.navbar {
    border-bottom: 3px solid rgb(139, 150, 161);
    /*overflow: hidden;*/
    /*position: fixed;*/
    max-width: 100%;
    /*background: linear-gradient( darkslategray, #212529);*/
    background: linear-gradient(#0E452F, #212529);
}

#header-nav {
    top: 0;
    position: fixed;
    width: 100%;
}

/* Navigation */
.nav-link, #product-dropdown, .dropdown-item {
    color: white;
    cursor: pointer;
    text-decoration: none;

}

.dropdown-menu.show {
    min-width: fit-content;
}


.nav-link:active,
.nav-link:hover, #product-dropdown:active, #product-dropdown:hover {
    /*color: rgba(149,171,150,255);*/
    font-weight: 800;
    color: white;
    background: none;
}

.dropdown-item.active {
    font-weight: 800;
< color: white;
    background: none;
    background-color: transparent;
}

.nav-link, #product-dropdown {
    padding-top: 8px;
}

#product-dropdown, .tab-button {
    padding: inherit;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


.icon-link {
    color: white;
}

#products, #aboutme, #contact, #dataprotection, #contact, #air, #process, #explo, #check, #seveso, #ippc, #sound, #start, #impressum {
    padding-top: 10vh;
}

#tab-button-impressum, #tab-button-dataprotection , #tab-button-dataprotection2 {
    text-decoration: none;
    color: inherit;
}

#tab-button-impressum:hover, #tab-button-dataprotection:hover, #tab-button-dataprotection2:hover {
    text-decoration: underline;
}

.headline {
    /*background: rgba(14,69,39,0.3);*/
    /*background: linear-gradient( rgba(14,69,39,0.3), rgba(33,37,41,0.3));*/
    /*padding-right: 10vw;*/
    padding-left: 10vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-bottom: 1.5px solid #0E452F;
    font-size: calc(1.175rem + 1.5vw);
}

.h2-heading {
    display: inline-block;
    vertical-align: middle;
}

.h2-heading-padding-top {
    padding-top: 8vh;
}

.h2-custom {
    padding-bottom: 2vh;
}

.h1-heading {
    padding-bottom: 2vh;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 10vh;
    height: 10vh;
    float: left;
    margin: 0 0 0 1vw;
}

.column {
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 10px;
}

/* Start */
#frontpage-video {
    padding-top: 1vh;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    /*margin: 30px 5px 5px 5px;*/
    align-content: center;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    padding-top: 10vh;
}

.parent-container-aboutme {
    padding: 20px;
    border: 100px;
    background: lightgrey;
}

/*img Breite*/
.img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

/*.card {*/
/*    flex: 1 0 auto;*/
/*}*/

.custom-card {
    flex: 0 1 32%;
    width: 60vw;
    height: 100%;
    margin: auto;
}

.custom-card:hover {
    box-shadow: 0 1px 5px 1px rgb(139, 150, 161);
}

.icon-link:active svg,
.icon-link:hover svg {
    color: rgba(36, 140, 50, 255);
}

.custom-column-ing {
    display: grid;
    grid-template-columns: 76% 20%;
    gap: 30px;
    /*background-color: #c7d1d1;*/
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;

}




/* Process */
/* The actual timeline (the vertical ruler) */

.custom-image {
    height: 100%;
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    align-content: center;
}

.card-process {
    flex: 0 1 32%;
    width: 100%;
    margin: auto;
    background: white;
}

.card-process:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}

.card-titel, .h5, h5 {
    font-size: 1.15rem;

}


#process-background {
    background-color: #c7d1d1;
    color: white;
    border-radius: 10px;
    margin: 10px;
    padding-top: 2vh;
    padding-bottom: 3vh;
}
.main-timeline-2 {
    position: relative;
}

/* The actual timeline (the vertical ruler) */
.main-timeline-2::after {
    content: "";
    position: absolute;
    width: 3px;
    background-color: #0E452F;
    top: 0;
    bottom: 0;
    left: 10%;
    margin-left: -3px;
}

/* Container around content */
.timeline-2 {
    position: relative;
    background-color: inherit;
    width: 75%;
}

/* The circles on the timeline */
.timeline-2::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -11px;
    background-color: #0E452F;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the right */
.right-2 {
    padding: 0px 0px 20px 60px;
    left: 10%;
}

/* Add arrows to the right container (pointing left) */
.right-2::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right-2::after {
    left: -14px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .main-timeline-2::after {
        left: 31px;
    }

    /* Full-width containers */
    .timeline-2 {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .timeline-2::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .right-2::after {
        left: 18px;
    }

    /* Make all right containers behave like the left ones */
    .right-2 {
        left: 0%;
    }
}

/* Product */
.custom-card-image {
    height: 25vh;
    min-height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;

}

.custom-navbox-collapse {
    border: 2px solid #bcc0c4;
    background-color:#bcc0c4;
}

.mw-customtoggle-toggle {
    float:right;
}



/* Data Protection */
.blocksatz {
    text-align: justify;
}



.row {
    margin: auto;
}


#tile_air {
    background-image: url('../files/Bild_03_Luft.png');
    background-position: center
}

#tile_explo {
    background-image: url('../files/Bild_02_Explosionsschutz.png');
    background-position: center;

}

#tile_ippc {
    background-image: url('../files/Bild_06_IPPC.png');
    background-position: center;
}

#tile_sound {
    /*background-image: url('../files/P_Icon_Schallemissionen.png');*/
    background-image: url('../files/Bild_01_Schall.png');
    background-position: center;
}

#tile_seveso {
    /*background-image: url('../files/P_Icon_SEVESO.png');*/
    background-image: url('../files/Bild_05_SEVESO.png');
    background-position: center;
}

#tile_check {
    background-image: url('../files/Bild_04_Ueberpruefungen.png');
    background-position: center;
}

#products {
    border: 2px solid #0E452F;
    color: white;
    border-radius: 10px;
    margin: 30px;
    padding-top: 8vh;
    padding-bottom: 3vh;
    padding-left: 3vw;
    padding-right: 3vw;
}


/* Über mich */
.about-image {
    width: 250px;
    height: 250px;

    background-size: cover;
    background-position: center;
    border-radius: 50%;
    padding-top: 10px;
}

.about-image-simon {
    background-position-y: 1px;
    background-repeat: no-repeat;
    background-color: white;
}

.custom-column {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
    /*background-color: #c7d1d1;*/
    padding: 20px;
}

.custom-column-example {
    grid-template-columns: 10% 90%;
    width: 100%;
    padding: 0;
    gap: 10px;
}

.custom-column-example-body {
    grid-template-columns: 10% 90%;
    gap: 10px;
}

.accordion-flush, .accordion-button, .custom-column-example-body, .accordion-body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.accordion-button:not(.collapsed){
    box-shadow: none;
    background-color: white;
    color: black;
    bs-accordion-btn-focus-border-color: white;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: white;
}

.custom-h2-example, .custom-div-example, .custom-div-ing {
    display: grid;
    align-content: center;
    margin: 0;
}

.custom-h2-example {
    font-size: calc(1.125rem + .9vw);
    padding-bottom: 2vh;
}


.contact-info {
    display: inline-block;
    width: 30px;
}

.ref-contact, .ref-services {
    text-decoration: none;
    color: inherit;
}

.ref-contact:hover {
    text-decoration: underline;
}



/* contact */
#contact-button-send {
    background-color: #0E452F;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#contact-button-send:hover {
    background-color: #0E452F;
    color: white;
    box-shadow: 0 1px 5px 1px #c7d1d1;
    font-weight: 800;
}

/* Explosionsschutz Unterseiten */

#tile_explob {
    background-image: url('../files/Bild_Biogas.jpg');
    background-position: center;
}

#tile_exploka {
    background-image: url('../files/Bild_ARA.jpg');
    background-position: center;
}

#tile_explowk {
    background-image: url('../files/Bild_Waermepumpe_2.png');
    background-position: center;
}
/* Footer */

#main-container {
    min-height: 100vh;
    margin-top: 70px;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
}

.category-container {
    max-width: 100%;
    width: 100%;
    /*box-sizing: border-box;*/
    padding: 0px;
}

.leistungs-container {
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: lightgrey;
}

.default-container {
    padding-top: 7vh;
    padding-bottom: 8vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 100%;
}

.page-container {
    min-height: 100vh;
    width: 92%;
    max-width: 92%;
    margin-left: auto;
    margin-right: auto;
}


/******** custom things ********/
.custom-p-impressum {
    margin: 0;
    padding: 0;
}

.custom-default-container-impressum, .custom-default-container-about-me {
    padding-bottom: 0;
}

.custom-padding-8vh {
    padding-bottom: 8vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Definiert drei Spalten mit gleicher Breite */
    grid-gap: 10px; /* Abstand zwischen den Elementen */
}

.grid-item {
    background-color: #c7d1d1;
    padding: 5px;
    padding-left: 10px
}

.custom-table {
    width: 100%;
    border: 1px solid #c7d1d1;
}

.footer {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
    border-top: 1px solid #888;
    bottom: 0;
    width: 100%;
    color: darkgrey;
    left: 0;
    background: linear-gradient(#212529, #0E452F);
    margin-top: auto;
    padding: 10px;
    border-top: 3px solid rgb(139, 150, 161);

}

.impressum-footer {
    margin-left: auto;
}

.footer-p {
    margin: 0;
}

.footer-contact i {
    font-size: 0.8rem;
    margin-right: 5px;
}

/********** Large devices for height only ***********/
@media (min-height: 768px){
    .custom-card-image {
        height: 17vh;
    }

    .page-container {
        min-height: 100vh;
        width: 92%;
        max-width: 1030px;
        margin-left: auto;
        margin-right: auto;
    }

    .icon {
        width: 6vh;
        height: 6vh;
    }

    #products {
        padding-top: 3vh;
    }
}


/********** Large devices only **********/
@media (min-width: 1200px){
    /*#frontpage-video {*/
    /*    height: 290px;*/
    /*    padding-bottom: 0;*/
    /*    margin: 0px;*/
    /*}*/
    .page-container {
        min-height: 100vh;
        width: 92%;
        max-width: 1030px;
        margin-left: auto;
        margin-right: auto;
    }

    .icon {
        width: 6vh;
        height: 6vh;
    }

    /*.card-group {*/
    /*    display: flex;*/
    /*    flex-flow: column wrap;*/
    /*}*/
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    /*#frontpage-video {*/
    /*    height: 250px;*/
    /*    padding-bottom: 0;*/
    /*}*/
    #product-dropdown, .tab-button {
        padding: inherit;
        padding-left: 2px;
        padding-right: 2px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #tab-button-aboutme, #tab-button-air, #tab-button-check, #tab-button-dataprotection, #tab-button-explo, #tab-button-process, #tab-button-contact {
        padding-left: 2px;
        padding-right: 2px;
    }

    .icon {
        width: 7vh;
        height: 7vh;
    }

    /*.card-group {*/
    /*    display: flex;*/
    /*    flex-flow: column wrap;*/
    /*}*/
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    #nav-liv {
        margin-top: 15px;
    }

    .nav-item.dropdown, .tab-button {
        padding-top: 5px;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* Definiert drei Spalten mit gleicher Breite */
    }

    .icon {
        width: 7vh;
        height: 7vh;
    }

    /*#frontpage-video {*/
    /*    height: 200px;*/
    /*    padding-bottom: 0;*/
    /*}*/
    /*.card-group {*/
    /*    display: flex;*/
    /*    flex-flow: column wrap;*/
    /*}*/
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
    #nav-liv {
        margin-top: 15px;
    }

    .custom-bottom-sm {
        margin-bottom: 0.4rem!important;
    }

    .custom-column-example, .custom-column-example-body {
        grid-template-columns: 100%;
    }

    .custom-div-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-item.dropdown, .tab-button {
        padding-top: 5px;
    }
    .grid-container {
        grid-template-columns: repeat(1, 1fr); /* Definiert drei Spalten mit gleicher Breite */
    }

    /*#frontpage-video {*/
    /*    height: 150px;*/
    /*    padding-bottom: 0;*/
    /*}*/
    /*.card-group {*/
    /*    display: flex;*/
    /*    flex-flow: column wrap;*/
    /*}*/
    /* Header */
    .navbar-brand {
        padding-top: 10px;
        height: 50px;
    }

    .icon {
        width: 8vh;
        height: 8vh;
    }

}

* {
    max-width: 100%;
}